<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.cseries.cseries"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Authentification"/>
        <activity android:name=".home.HomeActivity"/>
        <activity android:name=".saisons.SaisonsActivity"/>
        <activity android:name=".episodes.EpisodeActivity"/>
        <activity android:name=".watch.WatchActivity"/>
        <activity android:name=".watch.WatchFilmActivity"/>
        <activity
            android:name=".SaisonsActivity"
            android:label="@string/title_activity_saisons"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>
